tools
projects/01/.tst
projects/01/*.cmp
projects/02/*.cmp
projects/03/.tst
projects/04/*.cmp
projects/05/.tst
projects/05/*.cmp
projects/06/.tst
projects/06/*.cmp
projects/07/.tst
projects/07/*.cmp
projects/08/.tst
projects/08/*.cmp
projects/09/.tst
projects/09/*.cmp
projects/10/.tst
projects/10/*.cmp
projects/11/.tst
projects/11/*.cmp
projects/12/.tst
projects/12/*.cmp
projects/13/.tst
projects/13/*.cmp
